*,
::before,
::after{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.wrapper{
    width: 100%;
    height: 1100px;
    
    overflow: hidden;
    
    background-image: url("Images/weatherimage.jpeg");
    background-size: cover;
    
}
.heading{
    padding-top: 2rem;
    margin-top: 2rem;
    font-size: 5rem;
    
    letter-spacing: 3px;
    text-align: center;
    color: rgb(8, 210, 245,0.9);
    text-transform: uppercase;
    text-shadow: 2px 2px #050101;
}
.tabContainer{
    width: 40%;
    font-size: 1.4rem;
    margin: 0 auto;
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
}
.tab{
    cursor: pointer;
    padding: 6px 10px;
    letter-spacing: 1.75px;
}
.tab.currentTab{
    border-radius: 10px;    
    background: rgba(18, 35, 231, 0.8);
}
.container{
    
    width: 90%;
    
    margin: 0 auto;
}
.SearchContainer{
    display: none;
    margin: 40px 0px;
    justify-content: center;
    align-items: center;
}
.SearchContainer input{
    all: unset;
    width: 34%;
    height: 50px;
    padding: 0px 15px;
    cursor: pointer;
    border-radius: 10px;
    margin-right: 1.4rem;
    
    background: rgba(107, 152, 235, 0.5);
    
}
.SearchContainer.active{
    display: flex;
}
.SearchContainer input::placeholder{
    color: white;
    letter-spacing: 1px;
    font-size: 1.4rem;
}
.search-button{
    all: unset;
    cursor: pointer;
    
}
.Search{
    background-image: url("Images/search.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}
.userInfoContainer{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    height: 400px;
    margin-top: 2rem;
     
}
.userInfoContainer.active{
    display: flex;
}
.weather-data{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
}
.name{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}
.weather-data p[weather-temp]{
    font-size: 4rem;
}
.weather-data img{
    width: 30px;
    height: 30px;
}

.parameterContainer{
    height: 100px;
    width: 100%;
    margin-top: 2rem;
    row-gap: 6px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.windspeed{
    background-image: url("Images/windSpeed.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}
.humidity{
    background-image: url("Images/humidity.png");
    background-size: cover;
    width: 50px;
    height: 50px;
}
.clouds{
    background-image: url("Images/cloud.png");
    background-size: cover;
    width: 60px;
    height: 60px;
}
.parameter{
    width: 150px;
    height: 134px;
    margin-top: 16px;
    padding: 10px 30px;
    gap: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    background-color: rgba(53, 165, 92, 0.5);
}
.parameter p{
    line-height: 1.2;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.grant-Location{
    margin: 0 auto;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
    margin-top: 5rem;
}
.grant-Location.active{
    display: flex;
}
.grant-Location h1{
    letter-spacing: 1px;
}

.location{
    background-image: url("Images/location.png");
    background-size: cover;
    width: 100px;
    height: 100px;
}
.grant-Location button{
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
    letter-spacing: 1px;
    color: white;
    background: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(61, 123, 238, 0.5);
}
.error-container{
    display: none;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}
.error-container.active{
    display: flex;
}
.error{
    background-image: url("Images/error-404.png");
    background-size: cover;
    width: 200px;
    height: 200px;
}
.Retry-button{
    cursor: pointer;
    font-size: 1rem;
    padding: 10px 15px;
    letter-spacing: 1px;
    color: white;
    background: none;
    border: none;
    border-radius: 10px;
    background-color: rgba(219, 226, 239, 0.5);
}
.loadingContainer{
    display: none;
    place-items: center;
}
.loadingContainer.active{
    display: grid;
}
.loading{
    background-image: url("Images/loading.gif");
    background-size: cover;
    width: 200px;
    height: 200px; 
}
